@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<div class="text-center">
    <h1 class="display-4">ERROR 404!</h1>
    <p>Learn about <b>Navigation</b> as the page you requested does not exist!</a>.</p>
</div>
